.card-container{
    display: flex;
    padding: 16px;
    border-bottom: 1px solid lighten($color: $lightGrey, $amount: 30);

    &.last{
        border-bottom: none;
    }

    .middle {
        width: 450px;
        padding-left: 16px;
        padding-top: 32px;
    }

    .price{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 32px;

        a {
            font-size: 24px;
        }
    }

    .location{
        font-size: 12px;
        margin: 40px;
        color: $lightGrey;
    }

    h1{
        margin: 0px;
        font-size: 18px;
        font-weight: 400;
    }

    img{
        border-radius: 4px;
    }
}