.card-container{
    display: grid;
    grid-template-columns: 212px 1fr 150px;
    align-items: center;
    border-bottom: 1px solid lighten($color: $lightGrey, $amount: 30);

    img {
        padding: 16px;
        border-radius: 4px;
    }

    h1{
        margin: 0px;
        font-size: 18px;
        font-weight: 400;
    }

    .location{
        font-size: 12px;
        color: $lightGrey;
        padding: 32px;
    }

    .shipping{
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 32px;

        a {
            font-size: 24px;
        }
    }

    &.last{
        border-bottom: none;
    }
}