.not-found-container{
    grid-column: 2;
    background-color: white;
    margin-top: 32px;
    padding: 46px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}