.title{
    grid-area: 1 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 32px;
    width: 70%;
    gap: 32px;

    button {
        padding-left: 32px;
    }
}